$white: #fff;
$black: #333;
$gray: #e0e0e0;
$yellow: #fed700;
$blue: #0056b3;
$red: #ff3333;
$green: #66ff66;
$green-2: #ccffcc;

$fz18: 18px;
$fz24: 24px;
$fz28: 28px;
.link-sale {
    text-decoration: none;
}
.best-sale-item {
    width: 290px;
    height: 360px;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.5s ease;
    overflow: hidden;
    box-sizing: border-box;
    text-decoration: none;
    > img {
        width: 90%;
        height: 180px;
        min-height: 50%;
        margin-left: 10px;
        transition: all 0.5s ease;
    }
    > h2 {
        color: $black;
        margin: 0;
        padding-left: 10px;
        transition: all 0.5s ease;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    > span {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        > p {
            color: $red;
        }
        > ul {
            display: flex;
            list-style: none;
            color: $yellow;
        }
        > button {
            cursor: pointer;
            padding: 0.5rem 1rem;
            background-color: $green-2;
            border: none;
            border-radius: 4px;
            transition: all 0.5s ease;
            margin-left: 20px;
            font-size: $fz18;
        }
        > i {
            font-size: $fz24;
            color: $red;
            margin-right: 20px;
        }
    }
    &:hover {
        // border: 1px solid grey;
        transition: all 0.5s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.171);
        > img {
            transition: all 0.5s ease;
            transform: rotate(10deg);
        }
        > h2 {
            transition: all 0.5s ease;
            transform: translateY(10px);
        }
        > span {
            > button {
                transition: all 0.5s ease;
                animation: btn-animation 0.5s infinite;
                animation-direction: alternate;
            }
            > i {
                transition: all 0.5s ease;
                animation: btn-hear 0.5s infinite;
                animation-direction: alternate;
            }
        }
    }
}
@keyframes btn-animation {
    0% {
        transition: all 0.5s ease;
        transform: scale(1.1);
        background-color: $green;
    }
    100% {
        transition: all 0.5s ease;
        transform: scale(1.3);
        background-color: $yellow;
    }
}
@keyframes btn-hear {
    0% {
        transition: all 0.5s ease;
        transform: scale(1.1);
        color: rgba(255, 0, 0, 0.329);
    }
    100% {
        transition: all 0.5s ease;
        transform: scale(1.3);
        color: red;
    }
}
//CUSTOM - carousel
.slick-prev {
    left: 1040px;
    z-index: 2;
    top: -75px;
}
.slick-next {
    right: 80px;
    z-index: 2;
    top: -74px;
}
.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: -50px;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 0.25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 40px;
    line-height: 1;
    opacity: 0.75;
    color: grey;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media only screen and (max-width: 1024px) {
}
