body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Roboto', sans-serif !important;
    box-sizing: border-box !important;
}
.width-1200 {
    width: 1200px;
    margin: auto;
}
.justify-between {
    justify-content: space-between;
}
.dsFlex {
    display: flex;
}
.text-center {
    text-align: center;
}
.center {
    justify-content: center;
    align-items: center;
}
.box-sizing {
    box-sizing: border-box;
}
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
.bgc {
    background-color: rgba(0, 0, 0, 0.034);
}

.mTop-60 {
    margin-top: 60px;
}

.mBottom-50 {
    margin-bottom: 50px;
}

.mLeft-30 {
    margin-left: 30px;
}

.p-12 {
    padding: 12px;
}
