.product-container {
    width: 800px;
    margin: 50px auto;
    font-size: 1rem;
    .title-table {
        display: flex;
        justify-content: space-between;
        > button {
            align-self: center;
            font-size: 1rem;
            height: 40px;
            border: none;
            border-radius: 4px;
            background-color: #03ff25;
            color: black;
            font-weight: 600;
            padding: 0 1rem;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
                transition: all 0.3s ease;
                background-color: #03ff2586;
            }
        }
    }
    .table-product {
        font-size: 1rem;
        margin-top: 40px;
        width: 100%;
        border: 1px solid grey;
        border-collapse: collapse;
        > thead > tr > th {
            padding: 0.5rem 0;
            border-bottom: 1px solid black;
        }
        > tbody > tr > td {
            text-align: center;
            padding: 0.5rem 0;
            > button {
                box-sizing: border-box;
                font-size: 1rem;
            }
        }
    }
    > .search-auth {
        position: relative;
        width: 400px;
        margin: auto;
        > input {
            width: 100%;
            font-size: 18px;
            padding: 8px 16px;
            box-sizing: border-box;
        }
        > i {
            margin: 0;
            position: absolute;
            top: 6px;
            right: 12px;
            font-size: 25px;
        }
    }
}

.modal-create-product,
.modal-read-product {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(110, 110, 110, 0.397);
    z-index: 999;
    // display: flex;
    .create-product {
        width: 600px;
        min-height: 250px;
        background-color: #fff;
        margin: 100px auto;
        padding: 0.5rem 1.5rem;
        box-sizing: border-box;
        .title-create-product {
            display: flex;
            justify-content: space-between;
            > i {
                height: 28px;
                font-size: 28px;
                padding: 8px;
                margin-top: 8px;
                cursor: pointer;
                transition: all 0.3s ease;
                &:hover {
                    transition: all 0.3s ease;
                    background-color: #9e9e9ed2;
                }
            }
        }
        .input-product {
            font-size: 1.2rem;
            margin: 1rem 0;
            > input {
                width: 90%;
                font-size: 1rem;
                padding: 0.5rem 1rem;
                border: 0.5px solid grey;
                &:focus-visible {
                    outline: 2px solid rgba(0, 81, 255, 0.699);
                }
            }
        }
        .btn-product,
        .btn-back {
            font-size: 1.2rem;
            margin-top: 1.5rem;
            margin-bottom: 2rem;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 5px;
            color: #fff;
            transition: all 0.3s ease;
            cursor: pointer;
            background-color: rgba(0, 81, 255, 0.699);
            &:hover {
                background-color: rgb(0, 81, 255);
                transition: all 0.3s ease;
            }
        }
        .btn-back {
            background-color: rgba(119, 119, 119, 0.699);
            margin-right: 20px;
            &:hover {
                background-color: rgb(187, 187, 187);
            }
        }
    }
}
.container-input {
    display: flex;
    justify-content: space-between;
    > .input-product {
        width: 50%;
        > input {
            box-sizing: border-box;
        }
        > select {
            width: 90%;
            font-size: 1rem;
            padding: 0.5rem 0;
        }
    }
}
.create-product {
    .img-product {
        display: flex;
        justify-content: space-between;
        > img {
            width: 60%;
            height: 250px;
        }
        .list-img {
            margin-right: 20px;
            width: 30%;
            > img {
                width: 80%;
                height: 80px;
            }
        }
    }
    > h2 {
        text-align: center;
    }
    > p {
        color: grey;
    }
    > h3 {
        color: red;
    }
    .sale-new {
        display: flex;
        justify-content: space-between;
        > p {
            width: 50%;
        }
    }
    .btn-detail-product {
        display: flex;
        > button {
            width: 100px;
            font-size: 1rem;
            padding: 4px 8px;
            margin-right: 20px;
            margin-bottom: 30px;
            margin-top: 10px;
        }
    }
}
//customer paginate
.active-paginate {
    // padding: 4px 0;
    background-color: aqua;
}
.page-link {
    padding: 4px 8px;
}
.pagination > li {
    padding: 0;
    margin: 0 10px;
}
.pagination > li > .page-link {
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid grey;
    padding: 2px 8px;
    transition: all 0.3s ease;
}
